@model List<ExamOnline.Models.Subject>

<h1>List subject</h1>
<hr>
<div class="row">
    @{
        foreach (var s in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@s.Id</h4>
                        <p class="card-text">Subject: @s.Name</p>
                        <p class="card-text">Teacher: @s.TeacherEmail</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        @{
                            foreach (var e in s.Exams)
                            {
                                <form asp-action="DoExam" asp-controller="Exams">
                                    <input type="text" name="examId" hidden=true />
                                <li class="list-group-item">
                                        @e.Name
                                    <button type="submit">Take Exam</button>
                                </li>
                                </form>
                            }
                        }
                    </ul>
                    
                </div>
            </div>
        }
    }

</div>