@model List<ExamOnline.Models.Score>

<h1>Your score dashboard</h1>
<hr>
<div class="row">
    @{
        foreach (var s in Model)
        {
            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">@s.Exam.Name</div>
                    <div class="card-body">
                        <h5 class="card-title">Correct: @s.CorrectTotal</h5>
                        <p class="card-text">Total questions: @s.Exam.Questions.Count()</p>
                        <p class="card-text">Base 10 scores: @(s.CorrectTotal / s.Exam.Questions.Count())*10</p>
                    </div>
                </div>
            </div>
        }

    }

</div>